<%
<!-- variables tabs -->
const pagetitle ='About Us';
const pageDescription = 'About Us';
%>

<%- include ('../layout/header', {pagetitle }) %>

<%- include ('../layout/nav') %>
    <div class="cont text-center mt-1 pt-5">
        <%- include('../layout/subheaders', {pageDescription }) %>
    </div>

    <br>

    <div class="cont text-center mt-1 pt-5">
        <p>At Kunayo, we believe in the extraordinary. We're not just a clothing brand; we're storytellers, artisans, and creators of distinctive, hand crafted fashion that's as unique as you are.</p>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>OUR STORY</div>
        <p>Established in 2021, MadebyKy was born with a singular goal in mind; to break free from the ordinary and offer something truly exceptional. We envisioned a world where clothing could be more than just fabric and stitches; it could be a canvas for self-expression, a testament to individually, and a conduit for stories.</p>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>THE MADEBYKY EXPERIENCE</div>
        <p>When you choose Kunayo, you're not just buying clothing; you're investing in artistry, craftsmanship, and a piece of someone's heart. we take pride in creating designs that transcend trends and stand the test of time. Our commitment to quality ensures that every Kunayo creation is made to last, giving you the confidence to embrace your distinctive style.</p>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>JOIN THE COMMUNITY</div>
        <p>We're more than a brand; we're a community of like-minded individuals who celebrate the beauty of individuality. <br>
        Connect with us on social media and share your Kunayo stories. <br>
        Thank you for being part of the KUNAYO journey. Together, we're redefining fashion, one unique piece at a time.</p>
    </div>

<!-- <%- include ('../layout/loading') %> -->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>