<!-- cart.ejs -->

<%
const pagetitle = 'Cart';
const pageDescription = 'Your Shopping Cart';
%>

<%- include ('../layout/header', { pagetitle }) %>

<%- include ('../layout/nav') %>

<section class="cart container mt-2 my-3 py-5">

<div class="container mt -2">
    <h1>Your Shopping Cart</h1>
</div>

<table class="pt-5" style="width: 100%;">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
    </tr>

    <% if (cart && cart.length > 0) { %>

        <% cart.forEach(function(product) { %>
            <tr>
                <td>
                    <div>
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="rounded">
                        <div>
                            <p> <%= product.name %></p>
                                    <!-- if statement here! -->
                            <small><span>NGN</span><%= product.price %></small>
                            <br>
                            <form method="post" action="/remove_product">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <input type="submit" name="remove_btn" class="remove-btn" value="remove">
                            </form>
                        </div>
                    </div>
                </td>

                <td>
                    <form method="post" action="/edit_product_quantity">
                        <input type="hidden" value="<% product.id %>" name="id">
                        <input type="submit" value="-" name="decreaseProductQuantity">
                        <input type="text" name="quantity" value="<%= product.quantity %>" readonly>
                        <input type="submit" value="+" name="increaseProductQuantity">
                    </form>
                </td>

                <td>
                    <!-- if statement here! -->
                    <span class="product-price"><%= product.price * product.quantity %></span>
                </td>
            </tr>
        
        <% }) %>


    <div class="cart-total">
        <table>
            <tr>
                <td>Total</td>
                <td><%= total %></td>
            </tr>
        </table>
    </div>

    <div class="checkout-container">
        <form method="get" action="/checkout">
            <input type="submit" class="btn checkout-btn" value="checkout" name=""> 
        </form>
    </div>

    <% } else { %>
        <p>Your shopping cart is empty.</p>
        <a href="/new_arrival">shop now</a>
    <% } %>
</table>
</div>
</section>

<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>