<!-- cart.ejs -->
<%
const pagetitle = 'Cart';
const pageDescription = 'Your Cart';
%>

<%- include ('../layout/header', { pagetitle }) %>

<%- include ('../layout/nav') %>

<div class="container">
    <%- include('../layout/subheaders', {pageDescription }) %>
</div>

<section class="cart .container mt-2 my-3 py-5 text-center">
   <table class="pt-5 table table-striped text-center" style="width: 100%;">

    <% if (cart && cart.length > 0) { %>

        <% cart.forEach(function(product) { %>        
            <tr>
                <!-- product image -->
                <td>
                    <div>
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="rounded img-fluid">
                    </div>
                </td>

                <!-- product name -->
                <td>
                    <p> <%= product.name %></p>
                </td>

                <!-- product price -->
                <td>
                    <% if(product.sale_price){ %>
                        <small><span>NGN </span><%= product.sale_price %></small>
                    <% } else{ %>
                        <small><span>NGN </span><%= product.price %></small>
                    <% } %> 
                </td>

                <!-- edit buttons -->
                <td>
                    <form method="post" action="/edit_product_quantity">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" value="<%= product.id %>" name="id">
                                <input type="submit" value="-" name="decreaseProductQuantity">
                                <input type="text" name="quantity" value="<%= product.quantity %>" readonly class="text-center" style="height:35px; width:30px" >
                                <input type="submit" value="+" name="increaseProductQuantity">
                            </div>
                        </div>
                    </form>
                </td>

                <!-- price -->
                <td>
                    <% if(product.sale_price){ %>
                        <span class="product-price">NGN <%= product.sale_price * product.quantity %></span>
                    <% } else { %>
                        <span class="product-price">NGN <%= product.price * product.quantity %></span>
                    <% } %>
                </td>

                <!-- remove button -->
                <td>
                    <form method="post" action="/remove_product">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <input type="submit" name="remove_btn" class="remove-btn" value="remove">
                    </form>
                </td>
            </tr>
        <% }) %>

            <% if(status === "loggedIn"){ %>
                                
                <div class="cart-total">
                    <!-- <div>
                        <form action="">
                            <input type="hidden" value>
                        </form>
                        <form action=""></form>
                        <form action=""></form>
                        <form action=""></form>
                        <form action=""></form>
                    </div> -->
                    <table class='d-flex justify-content-center align-items-center'>

                        <div class="container">
                            <h2>Shipping mode</h2>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" data-price="5.00"> Lagos park delivery: NGN2500
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" data-price="7.00"> Lagos doorstep delivery: NGN5000
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" data-price="7.00"> Lagos doorstep delivery: NGN5000
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" data-price="7.00"> Ibadan delivery: NGN1500
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" data-price="7.00"> Other states delivery: NGN3000
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" data-price="7.00"> International(Packages below 1.5kg): $50
                                    </label>
                                </div>
        
                            </div>
                            
                            <div class="form-group">
                                <label for="subtotal">Subtotal:</label>
                                <input type="text" id="subtotal" readonly>
                            </div>

                            <tr>
                                <td>Total:</td>
                                <td>  NGN <%= total %></td>
                            </tr>
                        </div>
                       
                    </table>
                </div>
            
                <div class="d-flex justify-content-center align-items-center checkout-container">
                    <form method="get" action="/checkout">
                        <input type="submit" class="btn checkout-btn" value="checkout" name=""> 
                    </form>
                </div>
            
            <% } else{ %>
                    <div>
                        <p>Please <a href="/login">Login</a> to checkout</p>
                    </div>
            <%}%>
        

    <% } else { %>
        <p>You have no items in your shopping cart.</p>
        <a href="/new_arrival">Go to shop</a>
    <% } %>
</table>
</div>
</section>

<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>