<%
<!-- variables tabs -->
const pagetitle ='Delivery';
const pageDescription = 'Delivery';
%>

<%- include ('../layout/header', {pagetitle }) %>

<%- include ('../layout/nav') %>

    <div>
        <h3>Shipping Rates</h3>
        <p>- Lagos park delivery: NGN2500<br>
           - Lagos doorstep delivery: NGN5000<br>
           - Ibadan delivery: NGN1500<br>
           - Other states delivery: NGN3000<br>
           - International(Packages below 1.5kg): $50<br>
        </p>
    </div>

    <div>
        <h3>Pickup option:</h3>
        <p>Pickup is available for local deliveries. However, for urgent shipments, we recommend using GIG courier services.</p>
    </div>

    <div>
        <h3>Undelivered Items:</h3>
        <p>If you item hasn't arrived within the estimated timeframe, please don't hesitate to get in touch with us.</p>
    </div>

    <div>
        <h3>Shipping durations:</h3>
        <p>- Lagos: 1-2 days <br>
           - Within Lagos: 24 hours <br>
           - Within Ibadan: 24 hours <br>
           - Other States:2-3 days <br>
           - International: 2 weeks <br>
         </p>    
    </div>

<!--<%- include ('../layout/loading') %>-->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>