<%
<!-- variables tabs -->
const pagetitle ='FAQs';
const pageDescription = 'FAQs';
%>

<%- include ('../layout/header', {pagetitle }) %>

<%- include ('../layout/nav') %>

    <div>
        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using this website, you agree to comply with and bound by these Terms and Conditions. if you do not agree with any part of these terms, please do not use this website.</p>
    </div>

    <div>
        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using this website, you agree to comply with and bound by these Terms and Conditions. if you do not agree with any part of these terms, please do not use this website.</p>
    </div>

    <div>
        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using this website, you agree to comply with and bound by these Terms and Conditions. if you do not agree with any part of these terms, please do not use this website.</p>
    </div>

    <div>
        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using this website, you agree to comply with and bound by these Terms and Conditions. if you do not agree with any part of these terms, please do not use this website.</p>
    </div>

    <div>
        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using this website, you agree to comply with and bound by these Terms and Conditions. if you do not agree with any part of these terms, please do not use this website.</p>
    </div>

<!-- <%- include ('../layout/loading') %> -->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>