<%- include('../layout/header', {pagetitle }) %>
<%- include('../layout/nav') %>

<div class="container">
    <%- include('../layout/subheaders', {pageDescription }) %>
</div>

    <div class="container-fluid" style="padding-left: 5%;">
        <div>
            <h3>Can any of your products be customized?</h3>
            <p>Our cummitment to maintaining the integrity of Kunayo means that all our products are meticulosly designedand crafted. We do not make altercations to our designs or fabrics to cater to individual customer preferences unless there's a general concern or issue.</p>
        </div>
        <div>
            <h3>Where are you based?</h3>
            <p>We are located in Ibadan, Nigeria, which is why we offer the option for customers to pick up their orders in Ibadan. Additionally, we have representatives in Lagos to assist our customers in that region.</p>
        </div>
        <div>
            <h3>Can I pay on delivery?</h3>
            <p>No, all payments must be made in full at checkout beffore items get delivered or shipped to you.</p>
        </div>
        <div>
            <h3>Is it possible to get a refund?</h3>
            <p>Refunds are not available at the moment. Please ensure you confirm the size and colours of your items before checking out.</p>
        </div>
        <div>
            <h3>What logistics do you use?</h3>
            <p>we offer two logistics options:<br>
            a. GIG Delivery, which takes your order(s) right to your doorstep.<br>
            b. Local delivery, which covers all states but you'll need to pickup your order at local parks.</p>
        </div>
        <div>
            <p>if you have other questions, please reach out to us on any of our platforms or send us an email<br><a href="Mailto:ShopKunayo@gmail.com?Subject= Hi Kunayo">Shopkunayo@gmail.com</a></p>
        </div>
    </div>

<!-- <%- include ('../layout/loading') %> -->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>