<%
<!-- variables tabs -->
const pagetitle ='About';
const pageDescription = 'About';
%>

<%- include ('../layout/header', {pagetitle }) %>

<%- include ('../layout/nav') %>

    <div>
        
    </div>

    <div>
        <div>QUALITY CRAFTMANSHIP</div>
        <div>At Kunayo, we employ use of quality materials ensuring impeccable quality in every purchas, All our products are handcrafted, bearing intricate artistry. When you shop with us, you become part of a story, for our brands essense is to narrate tales that resonates with everyone - that's why we are the BRANDFORALL</div>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>T-shirts</div>
        <hr class="mx-auto">
    </div>

    <div>
    <li class="nav-item" style="margin-right: 10px;">
        <a class="nav-link" href="/T-shirts">view all</a>
    </li>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>Pants</div>
        <hr class="mx-auto">
    </div>

    <div>
    <li class="nav-item" style="margin-right: 10px;">
        <a class="nav-link" href="/pants">Pants</a>
    </li>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>Outwears</div>
        <hr class="mx-auto">
    </div>

    <div>
    <li class="nav-item" style="margin-right: 10px;">
        <a class="nav-link" href="/T-shirts">view all</a>
    </li>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>Accessories</div>
        <hr class="mx-auto">
    </div>

    <div>
    <li class="nav-item" style="margin-right: 10px;">
        <a class="nav-link" href="/T-shirts">view all</a>
    </li>
    </div>

    <div class="cont text-center mt-1 pt-5">
        <div>Lookbook</div>
        <hr class="mx-auto">
    </div>


<!-- <%- include ('../layout/loading') %> -->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>