<%
<!-- variables tabs -->
const pagetitle ='About';
const pageDescription = 'About';
%>

<%- include ('../layout/header', {pagetitle }) %>

<%- include ('../layout/nav') %>

    <div>
        <!-- slider -->        
    </div>

    <div class="row d-flex justify-content-center align-items-center align-content-center">
        <div class="col-5 col-sm-5 col-md-3 col-xxl-3">
            <h5 class="flex-wrap">QUALITY<br/>CRAFTMANSHIP</h5>
        </div>
        <div class="vl"></div>
        <div class="col-5 col-md-6 offset-1">
            <p>At Kunayo, we employ use of quality materials <br>
                ensuring impeccable quality in every purchas, All our <br>products are handcrafted, bearing intricate artistry. When you shop with us,you become part of a story, for our  brands essense is to narrate tales that resonates with <br> everyone - that's why we are the BRANDFORALL</p>
        </div>
    </div>
               
    <!-- T-shirts -->
    <div> 
        <div class="cont text-center mt-1 pt-5 ">
            <h3><span class="underline-effect">T-shirts</span></h3>
        </div>
        
        <br>

        <div class="row justify-content-center p-3">
            <% if (productsByCategory['T-shirts']) { %>
                <% productsByCategory['T-shirts'].forEach(item => { %>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 margin position-relative">
                        <div class="product-item text-center">
                                <a href="/product-details?product_id=<%= item.id %>">
                                    <img src="data:image/jpeg;base64,<%= item.image.toString('base64') %>" alt="<%= item.name %>" class="img-fluid">
                                </a>
                                <h3><%= item.name %></h3>
                                <p>NGN <%= item.price %></p>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No T-shirts available.</p>
            <% } %>
        </div>

        </div>

        <div class="col-md-3 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
            <div>
                <button class="btn fs-5 me-2 py-2 px-4" type="button" style="background-color: black; color: white; margin-right: 3px; padding-right: 0px;"><a class="nav-link" href="/T-shirts">view all</a></button>
            </div>
        </div>
    </div>

    
    <!-- pants -->
    <div> 
        <div class="cont text-center mt-1 pt-5">
            <h3><span class="underline-effect">Pants</span></h3>
        </div>

        <div class="row justify-content-center p-3">
            <% if (productsByCategory['pants']) { %>
                <% productsByCategory['pants'].forEach(item => { %>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 margin position-relative">
                        <div class="product-item text-center">
                                <a href="/product-details?product_id=<%= item.id %>">
                                    <img src="data:image/jpeg;base64,<%= item.image.toString('base64') %>" alt="<%= item.name %>" class="img-fluid">
                                </a>
                                <h3><%= item.name %></h3>
                                <p>NGN <%= item.price %></p>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No T-shirts available.</p>
            <% } %>
        </div>

        </div>

        <div class="col-md-3 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
            <div>
                <button class="btn fs-5 me-2 py-2 px-4" type="button" style="background-color: black; color: white; margin-right: 3px; padding-right: 0px;"><a class="nav-link" href="/pants">view all</a></button>
            </div>
        </div>
    </div>

    <!-- Outwears -->
    <div> 
        <div class="cont text-center mt-1 pt-5">
            <h3><span class="underline-effect">Outwears</span></h3>
        </div>

        <div class="row justify-content-center p-3">
            <% if (productsByCategory['Outwear']) { %>
                <% productsByCategory['Outwear'].forEach(item => { %>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 margin position-relative">
                        <div class="product-item text-center">
                                <a href="/product-details?product_id=<%= item.id %>">
                                    <img src="data:image/jpeg;base64,<%= item.image.toString('base64') %>" alt="<%= item.name %>" class="img-fluid">
                                </a>
                                <h3><%= item.name %></h3>
                                <p>NGN <%= item.price %></p>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No Outwear available.</p>
            <% } %>
        </div>

        </div>

        <div class="col-md-3 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
            <div>
                <button class="btn fs-5 me-2 py-2 px-4" type="button" style="background-color: black; color: white; margin-right: 3px; padding-right: 0px;"><a class="nav-link" href="/outerwear">view all</a></button>
            </div>
        </div>
    </div>
   

    <!-- Accessories -->
    <div> 
        <div class="cont text-center mt-1 pt-5">
            <h3><span class="underline-effect">Accessories</span></h3>
        </div>

        <div class="row justify-content-center p-3">
            <% if (productsByCategory['Bag']) { %>
                <% productsByCategory['Bag'].forEach(item => { %>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 margin position-relative">
                        <div class="product-item text-center">
                                <a href="/product-details?product_id=<%= item.id %>">
                                    <img src="data:image/jpeg;base64,<%= item.image.toString('base64') %>" alt="<%= item.name %>" class="img-fluid">
                                </a>
                                <h3><%= item.name %></h3>
                                <p>NGN <%= item.price %></p>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No T-shirts available.</p>
            <% } %>
        </div>

        </div>

        <div class="col-md-3 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
            <div>
                <button class="btn fs-5 me-2 py-2 px-4" type="button" style="background-color: black; color: white; margin-right: 3px; padding-right: 0px;">
                    <a class="nav-link" href="/accessories" style="color: white;">view all</a>
                </button>
            </div>
        </div>
        </div>

    <!-- lookbook -->
        <div class="cont text-center mt-1 pt-5">
        <h3><span class="underline-effect">Lookbook</span></h3>
        <div class="col-md-3 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center"></div>
            <div>
                <button class="btn fs-5 me-2 py-2 px-4" type="button" style="background-color: black; color: white; margin-right: 3px; padding-right: 0px;">
                    <a class="nav-link" href="/lookbook" style="color: white;">view all</a>
                </button>
            </div>
        </div>
    </div>


<!--<%- include ('../layout/loading') %>-->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>
<!-- Debug: Log available categories -->
<!-- <pre>Available Categories: <%= JSON.stringify(Object.keys(productsByCategory), null, 2) %></pre> -->