<%- include('../layout/header', {pagetitle }) %>
<%- include('../layout/nav') %>

<div class="container">
    <%- include('../layout/subheaders', {pageDescription }) %>
</div>

    <div>
        <h3>1. Acceptance of Terms</h3>
        <p>By accessing and using this website, you agree to comply with and bound by these Terms and Conditions. if you do not agree with any part of these terms, please do not use this website.</p>
    </div>

    <div>
        <h3>2. Use of the website</h3>
        <p>You agree to use this website for lawful purposes only and not engage in activity that may harm the website, its users, or violate any applicable laws. <br>
        You agree not to engage in any fradulant, malicious, or unauthorized activities, including but limited to hacking, phising or distributing malware<br>
        Kunayo reserves the right to monitor user content posted on the website to ensure compliance with these Terms and conditions</p>
    </div>

    <div>
        <h3>3. Intellectual Property</h3>
        <p>All content on this website, including but not limited to text, images, graphics, logos, and trade marks, is the property of Kunayo and is protected by intellectual property laws<br>
        You may<br>
        </p>
    </div>

    <div>
        <h3>4. Privacy Policy</h3>
        <p>Our Privacy Policy outlines how we collect, use and protect your information. By using the website, youconsent to the pratices described in our Privacy Policy.<br>
        Our Privacy Policy also outlines how we collect how we use cookies and other tracking technologies. By using this website, you consent to the use of cookies as described in our Privacy Policy.</p>
    </div>

    <div>
        <h3>5.Orders and Payments</h3>
        <p>When you place an order on this website, you agree to provide accurate and complete information <br>
            Payment information must be accurate and you must the necessary authorization to use it.<br>
            Pricing and availability of product on the website are subject to change without notice. We are not responsible for typographical errors regarding pricing or product information.<br>
            All sales are final.</p>
    </div>

    <div>
        <h3>6. Limitation and Liability</h3>
        <p>Kunayo is not liable for any damages or losses resulting from the use of this website, includingbut not limited to direct, indirect, incidental, or consequential damages<br>
        Kunayo does not warrant that this website is error-free, uninterrupted, or free of viruses We do our best to provuide acurrate and up to date information, but we do not guarantees regarding the accuracy or completeness of the contect.<br>
        In no event shall Kunayo be liable for any iindirect, consequential, or special damages arising out of or in connection with the use or inability to use this website.</p>
    </div>

    <div>
        <h3>7. Termination</h3>
        <p>Kunayo reserves the right to terminate or suspend your account access to the website at any time without notice, for any reason.<br>
        Termination of access to the website may result from any violation of these terms and condition or any activity that Kunayo deems harmful or inappropriate.</p>
    </div>

    <div>
        <h3>. Changes to terms</h3>
        <p>Kunayo may modify these terms and Conditions at any time. It is your responsibility to view them periodically for updates.<br>We will notify users of any significant changes to these Terms and Conditions throught the website or via email, if applicable.</p>
    </div>

    <div>
        <h3>9. Contact Information</h3>
        <p>For questions or concerns regarding these terms and conditions, you can contact us <a href="Mailto:ShopKunayo@gmail.com?Subject= Hi Kunayo">Shopkunayo@gmail.com</a></p>
    </div>

<!-- <%- include ('../layout/loading') %> -->
<%- include ('../layout/footer') %>
<%- include ('../layout/scripts') %>
